/.vscode
/launch.html
/localhost+1-key.pem
/localhost+1.pem
/localhost-key.pem
/localhost.pem
/node_modules
/internal-notes.txt
/der2
/payload.json
/payload2.json
/certificate.pem
/ecdsa_test.js
/timestamp